# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'
    Python38:
      python.version: '3.8'
    Python39:
      python.version: '3.9'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install numpy codecov coverage pytest pytest-azurepipelines
  displayName: 'Install dependencies'

- script: |
    python setup.py install
    cd tests
    coverage run --source=asteval -m pytest
    coverage report -m
    bash <(curl -s https://codecov.io/bash)
  displayName: 'Install asteval, run test suite and measure coverage'
